[CONSTANTS]
#DATA_FOLDER = /path/to/OpenBazaar/

KSIZE = 20
ALPHA = 3

TRANSACTION_FEE = 15000

RESOLVER = https://resolver.onename.com/

[LIBBITCOIN_SERVERS]
server1 = tcp://libbitcoin1.openbazaar.org:9091,ptCDh+i&@k3CYEa)(tC=j9$yN/eD&}@LJojDUGo7
server3 = tcp://libbitcoin3.openbazaar.org:9091,pco)6}^g!]5b7#byrx>[=MCI#W?DCF}K3FoS6nTu

[LIBBITCOIN_SERVERS_TESTNET]
testnet_server2 = tcp://libbitcoin2.openbazaar.org:9091,baihZB[vT(dcVCwkhYLAzah<t2gJ>{3@k?+>T&^3
testnet_server4 = tcp://libbitcoin4.openbazaar.org:9091,<Z&{.=LJSPySefIKgCu99w.L%b^6VvuVp0+pbnOM

[AUTHENTICATION]
#SSL = False

#SSL_CERT = /path/to/certificate.crt
#SSL_KEY = /path/to/privkey.key

#USERNAME = username
#PASSWORD = password

[SEEDS]
seed1 = seed.openbazaar.org:8080,5b44be5c18ced1bc9400fe5e79c8ab90204f06bebacc04dd9c70a95eaca6e117