[CONSTANTS]
#DATA_FOLDER = /path/to/OpenBazaar/

KSIZE = 20
ALPHA = 3

TRANSACTION_FEE = 20400

RESOLVER = https://resolver.onename.com/

[LIBBITCOIN_SERVERS]
mainnet_server1 = tcp://libbitcoin1.openbazaar.org:9091
mainnet_server3 = tcp://libbitcoin3.openbazaar.org:9091
mainnet_server5 = tcp://obelisk.airbitz.co:9091

[LIBBITCOIN_SERVERS_TESTNET]
testnet_server2 = tcp://libbitcoin2.openbazaar.org:9091,baihZB[vT(dcVCwkhYLAzah<t2gJ>{3@k?+>T&^3
testnet_server4 = tcp://libbitcoin4.openbazaar.org:9091,<Z&{.=LJSPySefIKgCu99w.L%b^6VvuVp0+pbnOM

[AUTHENTICATION]
#SSL = False

#SSL_CERT = /path/to/certificate.crt
#SSL_KEY = /path/to/privkey.key

#USERNAME = username
#PASSWORD = password

[MAINNET_SEEDS]
mainnet_seed2 = seed2.openbazaar.org:8080,8b17082a57d648894a5181cb6e1b8a6f5b3b7e1c347c0671abfcd7deb6f105fe
mainnet_seed3 = seed.obcentral.org:8080,f0ff751b27ddaa86a075aa09785c438cd2cebadb8f0f5a7e16f383911322d4ee

[TESTNET_SEEDS]
testnet_seed1 = seed.openbazaar.org:8080,5b44be5c18ced1bc9400fe5e79c8ab90204f06bebacc04dd9c70a95eaca6e117
